:root {
    --neonB:  rgb(6, 6, 249); 
    --navyB:  rgb(3, 3, 128);
    --darkB:  rgb(0, 0, 55);
}

* {
    margin: 0px;
}

header {
    background-color:rgb(75, 75, 75);
    margin: 0px;
    position: sticky;
}

li {
    padding-left: 20px;
}

.navBox {
    background-color: rgb(62, 60, 60);
    padding: 10px;
}

.navLinks {
   text-align: right;
   list-style: none;
   display: flex;
   font-size: 30px;
   justify-content: right;
}

.contactLinks,
.footerTitle,
.navLinks,
.headerTitle {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, var(--neonB), var(--navyB), var(--darkB), var(--neonB));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.headerCenter {
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

.profilePic {
    align-items: left;
    height: 300px;
    width: 300px;
    border-radius: 1000px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 525px;
    margin-bottom: 20px;
}

.profileBox {
    display: inline-flex;
    border: 1px solid rgb(75, 75, 75);
    background-color: rgb(62, 60, 60);
    margin: 30px;
}

.aboutBox {
    color: aliceblue;
    font-size: 30px;
    margin-top: 20px;
}

.aboutText {
    margin-right: 30px;
    text-align: right;
}

.linkInfo {
    text-align: center;
}

.firstProject {
    position: relative;
    margin: 3%;
}

.sideText {
    position: absolute;
    top: 0px;
    left: 396px;
    font-size: 30px;
    border: 1px solid var(--neonB);
    padding: 7px;
    background-color: var(--neonB);
    color: aliceblue;
    text-align: center;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.sideBeats {
    width: 1000px;
    border-radius: 7px;
    border: 3px solid var(--neonB);
}

.projectBox {
align-content: center;
}

.projects {
    margin-bottom: 30px;
}

.projectPics {
    width: 550px;
    height: 375px;
    margin-left: 35px;
    margin-right: 35px;
    border: 3px solid var(--neonB);
    border-radius: 7px;
}

.contactBox {
    margin-bottom: 0px;
}
.contactLinks {
    text-align: center;
    list-style: none;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}

.footerBox {
    background-color: rgb(75, 75, 75);
    margin-bottom: 0px;
    height: 100px;
}

.footerTitle {
    text-align: center;
    padding-top: 25px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@media only screen and (max-width: 780px) {
    .navLinks {
        font-size: 15px;
        display: block;
    }

    .profileBox {
        font-size: 12px;
        display: block;
    }

    .sideBeats {
        width: 500px;
        height: 325px;
    }

    .projectPics {
        width: 500px;
        height: 325;
    }

    .contactLinks {
        font-size: 15px;
        display: block;
    }
}

@media only screen and (max-width: 540px) {
    .navLinks {
        font-size: 15px;
        display: block;
    }

    .profileBox {
        font-size: 12px;
        display: block;
    }

    .sideBeats {
        width: 300px;
        height: 125px;
    }

    .projectPics {
        width: 300px;
        height: 125px;
    }

    .contactLinks {
        font-size: 15px;
        display: block;
    }
}
